*.swp
*.bak
*~
.DS_Store
build/
.cache/
package/contents/ui/native/libgrowspacewalletplugin.so
package-irrigation/contents/ui/native/libgrowspacewalletplugin.so
package-history/contents/ui/native/libgrowspacewalletplugin.so
